.users-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
}

.users-form h1 {
    text-align: center;
    color: white;
}

.users-form form {
    margin-top: 20px;
}

.users-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que el padding no incremente el tamaño del input */
}

.users-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.users-form input[type="submit"]:hover {
    background-color: #0056b3;
}
